html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike,strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}
/* ======================================================================= Global Start =========================================== */
/* Loader */
 .preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #C11F26;
  z-index: 99999999999;
  display: flex;
}
.preloader-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin:auto;
  border-width: 2px;  
  border-style: solid;
  border-color: #ccc rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .1);
  border-top-width: 3px;
  animation: rotate 1s 0s linear infinite;
}
@keyframes rotate {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}
body::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 10px;border-top-left-radius:0px;background-color: #F5F5F5;}
body::-webkit-scrollbar{width: 12px;background-color: #F5F5F5;}
body::-webkit-scrollbar-thumb{border-radius: 10px;border-top-left-radius:0px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: #C11F26;}
body{font-family: 'Poppins', sans-serif;}
.section-Padding{padding: 80px 0;}
.banner-heading{font-size: 60px;color: #231F20;color: #C11F26;font-weight: 700;}
.banner-heading span{color: #C11F26;}
.section-heading{font-size: 40px;color: #231F20;font-weight: 600;}
.section-heading::before{display: inline-block;content: "";border-top: .1rem solid #C11F26;width: 9rem;margin: -0.5rem 1rem;transform: translateY(-1rem);}
.section-sub-heading{font-size: 20px;color: #C11F26;font-weight: 600;}
ul{list-style: none;}
.social-ul>li {display: inline-block;margin-right: 34px;}
.socialIcons {font-size: 28px;color: #030522;text-align: center;transition: 0.2s ease-in-out;}
.socialIcons:hover {color: #C11F26;transition: 0.3s ease-in-out;}
/* ================== Fonts Family Start ==================*/
.fp{font-family: 'Poppins', sans-serif;}
/* ================== Fonts Family End ==================*/
/* ================== Fonts Style Start ==================*/
.bold{font-weight: 700;}
.sbold{font-weight: 600;}
.medium{font-weight: 500;}
.normal{font-weight: 400;}
.light{font-weight: 300;}
.f-15{font-size: 15px;}
.f-16{font-size: 16px;}
.f-18{font-size: 18px;}
.f-20{font-size: 20px;}
.f-22{font-size: 22px;}
.f-25{font-size: 25px;}
.f-30{font-size: 30px;}
.capital{text-transform: capitalize;}
.upper{text-transform:uppercase;}
/* ================== Fonts Style End ==================*/
/* ================== Buttons Start ==================*/
.red-btn{font-size: 18px;font-weight: 500;padding: 10px 30px;border-radius: 15px;background-color: #C11F26;border: 1px solid #C11F26;transition: 0.3s ease-in-out;}
.red-btn:hover{background-color: black;border: 1px solid black;transition: 0.3s ease-in-out;}
/* ================== Buttons End ==================*/
/* ================== Colors Start ==================*/
.black{color: black;}
.white{color: white;}
/* ================== Colors End ==================*/
/* ================== Footer Start ==================*/
footer{background-image: url(../images/footer-back.png);background-repeat: no-repeat;background-position: center;background-size: cover;margin-top: 127px;padding-top: 109px;}
footer p{line-height: 30px;}
footer h6{color: #7D7D7D;font-size: 12px;}
footer a{color: #A7A7A7;font-size: 16px;text-decoration: none;}
footer a:hover{color: white;text-decoration: none;}
.footer-bottom p{color: black;border-top: 1px solid #303030;padding: 30px 0;margin-top: 36px;font-size: 18px;}
.input-field2 {background-color: black;width: 100%;padding: 10px;outline: none;border:none;}
.email-container2{background-color: white;display: -ms-flexbox;display: flex;width: 100%;margin-bottom: 40px;}
.icon22{font-size: 15px;padding: 12px 10px;background-color: #C11F26;color: white;text-align: center;border: 1px solid #C11F26;}
.icon22:hover{color: #C11F26;background-color: white;border: 1px solid #C11F26;transition: 0.3s ease-in-out;}
/* ================== Footer End  ==================*/
/* ================== Nav Start here  ==================*/
.custom-nav{
background-color: blue !important;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
  border: none;
}
/* ================== Nav End here  ==================*/
/* ======================================================================= Global End =========================================== */
/* ======================= Media Queries =========================================== */
@media(max-width:991px){
  .section-Padding {padding: 50px 0;}
  .banner-heading {font-size: 50px;}
  .section-heading {font-size: 35px;}
}
@media(max-width:767px){
  .section-Padding {padding: 30px 0;}
  .banner-heading {font-size: 40px;}
  .section-heading {font-size: 30px;}
}
@media(max-width:576px){
  .section-Padding {padding: 20px 0;}
  .banner-heading {font-size: 30px;}
  .section-heading {font-size: 25px;}
}